:root{
    --azul: #B6FEFB;
    --lilas:#470673;
    --rosa:#F06DF2;
    --preto:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color:var(--rosa);

}

/*CSS PARA O TOP*/
header .top{
    text-align: center;
    justify-content: center;
    
}

header .logo{
    font-size: 30px;
    
}
h1{
    margin-top: 20px;
}

h2#sub{
    font-size: 18px;
}

/*CSS PARA O MID*/

main .signos{
    margin-top: 30px;
    background-image: url(imagens/fundo\ 2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;/*colocando em coluna*/
    align-items: center;
}

main .descricao-planeta{
    margin-top: 150px;
    border-style: groove;
    border-color: var(--lilas);
    border-width: 10px;
    background-color: var(--verde-agua);
    color: var(--azul);
    justify-content: center;
    display: flex;
   margin-bottom: 20px;
   
    
    
}

main .img{
    height: 200px;
    margin: 10px;
}

main .img2{
height: 250px;
}

main .botão{
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    
}

input{
    font-size: 20px;
    color: var(--rosa);
    background-color: var(--lilas);
}



footer{
    margin-top: 20px;
    text-align: center;
}

img#imginsta{
    width: 30px;
}

a{
    font-size: 20px;
    
}



